<div class="profile">
	<div>
		<h2>Профиль пользователя</h2>
		
		<% if (user.local.email) { %>
			
			
			<form action="/editProfile" method="post" ref='uploadForm' id='uploadForm' encType="multipart/form-data" runat="server">
				<div class="users-img">
					<img id="user-img" src="users-img/<%=user.id %>.jpg">
					<input id="imgInp" name="userImg" type="file"/>
				</div>
				<label for="fname">Имя пользователя</label><br>
				<input type="text" value="<%=user.local.fname %>" name="fname"><br>
				<label for="lname">Фамилия пользователя</label><br>
				<input type="text" value="<%=user.local.lname %>" name="lname"><br>
				<label for="email">Электронная почта</label><br>
				<input type="text" value="<%=user.local.email %>" name="email"><br>
				<div class="user-balance">
					<p>Баланс: </p>
					<span><%=user.local.balance %></span>
					<button>Пополнить на 500</button>
				</div>
				
				<!-- <label for="password">Новый пароль</label><br>
				<input type="text" value="" name="password"><br> -->
				<input type="submit" name="profile" value="Редактировать">
			</form>
			<!-- <form action="/upload" method="post" ref='uploadForm' id='uploadForm' encType="multipart/form-data">
				<input name="userImg" type="file"/>
				<input type="submit" name="profile" value="Редактировать">
			</form> -->
		<% } else if (user.facebook.token) { %>
			
			<form action="/editProfile" method="post">
				<input type="text" value="<%=user.facebook.fname %>" name="fname"><br>
				<input type="text" value="<%=user.facebook.lname %>" name="lname"><br>
				<input type="text" value="<%=user.facebook.email %>" name="email"><br>
				<input type="text" value="" name="password"><br>
				<input type="submit" name="profile" value="Редактировать">
			</form>
		<% } else if (user.twitter.token) { %>
			
			<form action="/editProfile" method="post">
				<input type="text" value="<%=user.twitter.fname %>" name="fname"><br>
				<input type="text" value="<%=user.twitter.lname %>" name="lname"><br>
				<input type="text" value="<%=user.twitter.email %>" name="email"><br>
				<input type="text" value="" name="password"><br>
				<input type="submit" name="profile" value="Редактировать">
			</form>
		<% } else if (user.google.token) { %>
			
			<form action="/editProfile" method="post">
				<input type="text" value="<%=user.google.fname %>" name="fname"><br>
				<input type="text" value="<%=user.google.lname %>" name="lname"><br>
				<input type="text" value="<%=user.google.email %>" name="email"><br>
				<input type="text" value="" name="password"><br>
				<input type="submit" name="profile" value="Редактировать">
			</form>
		<% } %>

		<a href="/logout" class="btn btn-default btn-sm">Выйти</a>
	</div>
</div>